<%= markdown("
This blog serves as a notepad of sorts for me. Something to scratch down little bits of technical
information as I fumble my way through web design, server admin, and other internet related tasks. 

If any of it helps you out, feel free to shoot me an email at andrew@amdavidson.com. 

You can also find me at [AMDavidson.com](http://amdavidson.com), 
[Twitter](http://twitter.com/amdavidson), or [Flickr](http://flickr.com/photos/amdavidson).
") %>