<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
		<meta name="description" content="<%= @context[:description] || 'Web development blogging by a verifiable amateur' %>" />
    <title>
			<% if @path == 'index' %>
			    andr3w
			<% elsif @path.split('/').compact.length == 3 %>
			    <%= title %> - andr3w
			<% else %>
			    <%= @path.capitalize.gsub(/[-]/, ' ') %> - andr3w
			<% end %>    	
    </title>
  </head>
  <body>
	  <a href="/"><img src="http://c1876232.cdn.cloudfiles.rackspacecloud.com/andr3w-logo-750.png" alt="andr3w.net" /></a>
    <section>
      <%= yield %> 
    </section>
    <footer>
      powered by <a href="http://cloudhead.io/toto">toto</a> and <a href="http://heroku.com">heroku</a>.
    </footer>
  </body>
</html>

